.dog{
    
    display:flex;
    float: right;
}
.About{
    background-color: aqua;
}
.course{
    background-color: aqua;
}
.we{
    height: 200px;
    width: 400px;
}
.interest,.Submit{
    background-color: aqua;
}
